<h1>
   <%= @post.title %> <br>
   <small>
     submitted <%= time_ago_in_words(@post.created_at) %> ago by <%= @post.user.name %>
   </small>
 </h1>

 <div class="row">
   <div class="col-md-8">
     <p><%= @post.body %></p>
   </div>
 </div>
